  /* General Styles */
body {
    font-family: 'Rubik', sans-serif;
  }
  
  
  .logo {
      height: 20px;
      padding-left: 100px; 
  }
  
  @media (max-width: 768px) {
      .logo {
        padding-left: 10px; 
      }
  }
  
  /* Header */
  .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
  }
  
  .navbar {
      background-color: #0B6539;
  }
  
  .navbar-brand .logo {
      height: 50px;
  }
  
  .navbar-nav {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      max-width: 600px; 
  }
  
  .nav-link {
      color: #fff !important;
      text-decoration: none !important;
  }
  
  .nav-link:hover {
      color: #F4C83F !important;
      text-decoration: none !important;
  }
  .contact-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .contact-form h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .text-highlight {
    color: #0a6439; /* Highlight Color */
  }
  
  .contact-form p {
    color: #6c757d;
  }
  
  .contact-form .form-control {
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .btn-highlight {
    background: #0a6439;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .btn-highlight:hover {
    background: #0a6439;
    
  }
  
  .contact-map iframe {
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  /* Footer */
.footer {
    background-color: #0B6539;
  }
  
  .footer-links .list-inline-item a {
    color: #F4C83F;
    text-decoration: none;
  }
  
  .footer-text {
    margin-top: 1rem;
    color: #fff;
  }
  
  .footer {
      background: #0B6539;
      color: white;
      padding: 40px 0;
      font-family: 'Rubik', sans-serif;
  }
  
  .footer .links ul {
      list-style-type: none;
      padding: 0;
  }
  
  .footer .links li {
      margin: 8px 0;
  }
  
  .footer .links li a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
  }
  
  .footer .links li a:hover {
      color: #F4C83F;
  }
  
  .footer .company-info {
      margin-bottom: 20px;
  }
  
  .footer .company-info p {
      color: white;
  }
  
  .footer .company-info a {
      color: white;
      margin-right: 10px;
      transition: color 0.3s;
  }
  
  .footer .company-info a:hover {
      color: #F4C83F;
  }
  
  .footer .social-icon {
      font-size: 25px;
      margin-right: 10px;
      color: white;
      transition: color 0.3s;
  }
  
  .footer .social-icon:hover {
      color: #F4C83F;
  }
  
  .footer .location p {
      margin-bottom: 10px;
      font-size: 14px;
      margin-top: 10px;
  }
  
  .footer .location i {
      font-size: 18px;
      margin-right: 5px;
  }
  
  .footer .copyright {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 10px;
      color: white;
      font-size: 14px;
      text-align: center;
  }
  
  .footer .logo {
      max-width: 200px;
      margin-bottom: 1px;
      border-radius: 50%;
      margin-left: 2px;
      padding: 2px;
  }
  
  .app-store-link {
    display: inline-block;
    margin-right: 15px;
  }
  
  .app-store-icon {
    width: 140px; 
    height: 40px; 
    object-fit: contain;
  }

  .social-icons {
    margin-top: 30px;
    width: 30px; /* Set the width of the icons */
  }
  
  .social-icons:hover {
  
    opacity: 0.8; 
  }